/** @type {import('next').NextConfig} */
const nextConfig = {
  output: 'export',
  // This must match your GitHub repository name exactly so styles load properly
  basePath: '/assessment-analysis',
  
  // This tells the server to ignore code-style warnings that might block a cloud build
  eslint: {
    ignoreDuringBuilds: true,
  },
};

module.exports = nextConfig;
